#Redundant
*.bak
.DS_Store
SCRATCH.md
zero

#Files

.kiro
kai
kai_bootstrap
kai_bootstrap_new
language_roadmap.md
walkthrough.md
traits-comptime.md
codegen*
*.md
*.ll
*.py
output.kai
tests/compiler.c
docs