#Redundant
*.bak
.DS_Store
SCRATCH.md
__pycache__
dist/
docs/*.c
#Files

kai
src/runtime.c
kai_bootstrap
kai_bootstrap_new
language_roadmap.md
walkthrough.md
traits-comptime.md
#codegen*
*.md
*.ll
*.py
output.kai
tests/compiler.c
docs/
compiler
zero
release/
build.sh